@charset "UTF-8";
body {font-family: Arial, sans-serif;margin: 0;padding: 0;}

header {background-color: black;color: white; padding: 10px 0;text-align: center;}

.logo {float: left;}

nav ul {list-style-type: none;padding: 0;}

nav ul li {display: inline-block;margin-right: 20px;}

nav ul li a {text-decoration: none;}

.testimonial {max-width: 800px; margin: 20px auto; padding: 20px; background-color: black; color: white;}

.testimonial h2 {text-align: center;color: red;}

h1{color: red; text-align: center; text-decoration: underline}

.discription {padding: 20px; color: red;}

.discription p {color: red; margin-bottom: 10px; text-align: center}

.rating {text-align: center;font-size: 24px;color: red;}

.star {margin-right: 5px;}

p {text-align: center}

a {color:white}

a:visited{color: red;}

footer {background-color: black;color: white ;text-align: center; padding: 10px 0;width: auto;}