@charset "UTF-8";
body {font-family: Arial, sans-serif;margin: 0;padding: 0;}

header {background-color: black;color: white; padding: 10px 0;text-align: center;}

.logo {float: left;}

nav ul {list-style-type: none;padding: 0;}

nav ul li {display: inline-block;margin-right: 20px;}

nav ul li a {text-decoration: none;}

.table {max-width: 900px;margin: 30px;}

h1 {text-align: center; color:red; text-decoration: underline}

table {width: 100%; border-collapse: collapse;}

th, td {padding: 10px; border-bottom: 1px solid black;text-align: left;}

th {background-color: white;}

h3 {text-align: center}

p {text-align: center}

a {color:white}

a:visited{color: red;}

footer {background-color: black;color: white ;text-align: center; padding: 10px 0;width: 1450px}